body {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}



#content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#html5-canvas-container {
    width: 100%;
    /* max-height: 40vh; */
    flex: 1 1 80%;
    border-bottom: 5px solid maroon;
}

#html5-canvas {
    width: 100%;
    height: 100%;
}

#canvas-container {
    position: relative;
    /* width: 80%; */
    flex: 1 1 100%;
    /* max-height: 40vh; */
    height: 100%;
    min-height: 20vh;
    background-color: rgb(199, 199, 204);
}

#canvas {
    width: 100%;
    height: 100%;
}



#canvas-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;

}

#audio-selector {
    display: flex;
    flex-direction: column;
    height:90%;
    bottom: 0;
    top: 0;
    width: 100%;
    min-width: max-content;
    padding: 20%;
    background-color: #242424;
    
    justify-content: flex-start;


}

#audio-selector .title {
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: #afafaf;
}

.audio-option {
    margin-bottom: 10px;
    width: 100%;
    min-width: max-content;
    min-height: 60px;
    font-size: 1.5em;
    background-color: #afafaf;
    color:#272727;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-block: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s ease;
}

.audio-option:hover {
    background-color: #6d6d6d;
}

#upload-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
    
}

#upload-container button {
    min-height:max-content;
    padding: 10px;
    text-align: center;
    border-radius: 0;
    color: #afafaf;
    background-color: #242424;
    width: 100%;
    font-size: 1.5em;
}

audio {
    position:absolute;
    width: 100%;
    bottom:20px;
}

#controls {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 20px;
    overflow-y: scroll;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.info .label {
    font-size: 1em;
    margin-right: 10px;
    flex: 1 0 max-content;
}

.info .value {
    font-size: 1em;
    border: 1px solid black;
    flex: 0 0 40px;
    height: 100%;
    align-content: center;
}

.control {
    flex: 1 1 100%;
}

.control input, .slider input {
    width: 100%;
} 

.slider-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.slider-group .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: unset;
}



.info .value {
    font-size: 1em;
    margin-right: 10px;
    width: 40px;
    text-align: center;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.slider .control {
    flex: 1 1 100%;
}






@media (max-width: 600px) {
    #content {
        flex-direction: column;
    }

    #audio-selector {
        padding: 10px;
    }

    
    #audio-selector .audio-option {

        font-size: 1em;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:10px;
        min-height: max-content;
        padding-block: 5px;
    }

    #controls {
        flex-direction: column;
        max-height: 40vh;
    }

    .slider-group {
        flex-direction: column;
        width: 100%;
    }

    .slider-group .info {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .slider-group .info .value {
        width: 40px;
    }

    .slider-group .control {
        writing-mode: horizontal-tb;
        direction: ltr;
        appearance: slider-horizontal;
        width: 100%;
        flex: 1 1 100%;
    }

    .slider-group .slider {
        width: 100%;
        flex-direction: row;
    }

    .slider-group .slider input {
        width: 100%;
    }
    
}